@font-face {
  font-family: WONKY;
  src: url(/fonts/WONKY_Trial-Regular.woff2)
}

/** https://www.joshwcomeau.com/css/custom-css-reset/ */

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
  box-sizing: border-box;
}

/*
  3. Allow percentage-based heights in the application
*/



html,
body,
#app {
  font-family: NFC;
  height: 100%;
  font-size: 1vw;
  /* background-color: #eaeaea; */
  background-color: #272727;
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  background-color: #272727;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  /* min-height: 300vh; */
}


/* body::-webkit-scrollbar{
  display: none;
} */
/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}

/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*
  9. Create a root stacking context
*/
#app {
  isolation: isolate;
}

.test {
  font: 4vw WONKY;
  color: white;
}